body {
    text-align: justify;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table {
    min-width: 100%;
    text-align: left;
}

td {
    vertical-align: top;
}

td:nth-child(2) {
    width: 25%;
}