body {
    text-align: justify;
    font-family: 'Roboto';
    font-size: medium;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table {
    width: 100%;
    text-align: left;
}

td {
    vertical-align: top;
}

table.requests td:nth-child(2) {
    width: 25%;
}

table.resource_properties td:first-child {
    width: 20%;
}